body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.navbar {
    background-color: #1F2937;
    color: white;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

.header-logo {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    padding: 50px 0;
    background-color: #1F2937;
    color: white;
}